RewriteEngine On
RewriteRule ^api/v1/feed/popular/$ ign/popular.php [L]
RewriteRule ^api/v1/feed/timeline/$ ign/timeline.php [L]
RewriteRule ^api/v1/direct_share/inbox/$ ign/messages.php [L]
RewriteRule ^api/v1/direct_share/pending/$ ign/messagepending.php [L]
RewriteRule ^api/v1/direct_share/recent_recipients/$ ign/messagepending.php [L]
RewriteRule ^api/v1/accounts/create/$ ign/register.php [L]
RewriteRule ^api/v1/users/search/$ ign/searchusers.php [L]
RewriteRule ^api/v1/tags/search/$ ign/searchtags.php [L]
RewriteRule ^api/v1/accounts/change_profile_picture/$ ign/changepfp.php [L]
RewriteRule ^api/v1/accounts/login/$ ign/login.php [L]
RewriteRule ^api/v1/media/upload/$ ign/upload.php [L]
RewriteRule ^api/v1/direct_share/configure/$ ign/messages.php [L]
RewriteRule ^api/v1/accounts/change_password/$ ign/changepassword.php [L]
RewriteRule ^api/v1/discover/ayml/$ ign/ayml.php [L]
RewriteRule ^api/v1/upload/photo/$ ign/upload.php [L]
RewriteRule ^api/v1/media/configure/$ ign/configurephoto.php [L]
RewriteRule ^api/v1/news/inbox/$ ign/recent.php [L]
RewriteRule ^api/v1/accounts/current_user/$ ign/currentuser.php [L]
RewriteRule ^api/v1/accounts/edit_profile/$ ign/editprofile.php [L]
RewriteRule ^api/v1/activity/recent/$ ign/recent.php [L]
RewriteRule ^api/v1/feed/user/(\d+)/?$ ign/userfeed.php?id=$1 [L]
RewriteRule ^api/v1/friendships/show/(\d+)/?$ ign/friendships.php?id=$1 [L]
RewriteRule ^api/v1/users/(\d+)/info/$ ign/userinfo.php?id=$1 [L]
